Django==4.2.10
psycopg2-binary==2.9.9
python-dotenv==1.0.0
requests==2.31.0
yfinance==0.2.37
pandas==2.2.1
numpy
celery==5.3.4
redis==5.0.1
django-celery-beat==2.5.0
django-celery-results==2.5.1
feedparser==6.0.10
beautifulsoup4==4.12.2
ollama==0.1.7
django-htmx==1.17.0
django-bootstrap5==23.3

